#navbarNav {
    padding: 0 20px;
}

.custom-nav-link {
    margin-right: 50px; /* Adjust this value to increase/decrease space between links */
    box-sizing: border-box;
    padding: 5px 0;
    padding-left: 10px;
}

.custom-navbar-brand {
    padding: 0 30px;
    font-weight: bold;
    font-family: 'Poppins';
}

.custom-nav-link {
    color: grey;
}
.custom-nav-link:hover {
    color: #fff !important; /* Force white color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Slight background on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

.custom-navbar-gap {
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust the spacing as needed */
}
.separator {
    height: 1px;
    background-color: #5f5f5f; /* Light grey color */
    margin: 10px 0; /* Optional: Add spacing above and below the separator */
}