@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

.btn {
    @apply px-4 py-2 font-medium rounded-md transition-all duration-200;
  }
  
  /* Primary button styles */
  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600;
  }
  
  /* Secondary button styles */
  .btn-secondary {
    @apply bg-gray-500 text-white hover:bg-gray-600;
  }

