/* CREATE FILE PAGE */

.createFilePage {
  margin-left: auto;
  margin-right: auto;
  max-width: 890px;
  padding: 10px;
  border: 0px;
}

/*FILE NAME INPUT */


.fileNameInput {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-weight: 500;
font-size: 15px;
color: #fff;
background-color: rgb(44, 44, 44);
box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
border-radius: 0.4vw;
border: none;
outline: none;
padding: 0.4vw;
width: 100%;
height: auto;
transition: .4s;
margin-bottom: 3px;
box-sizing: border-box;
min-height: 50px;
resize: none;
overflow-y: auto;
}

.fileNameInput:hover {
box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.fileNameInput:focus {
box-shadow: 0 0 0 .15vw skyblue;
}



/*DISPLAY FLASH CARDS*/

.innerDisplayFlashCardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between;
  
}

.list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.listItem {
  margin-bottom: 10px; /* Optional: Add some space between list items */
  
}

.flashCardInput {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  height: auto;
  transition: .4s;
  margin-bottom: 3px;
  box-sizing: border-box;
  width:100%;
  overflow: hidden;
  resize: none;
  min-height: 50px;
}

.questionContainer {

  width: 433px;
  box-sizing: border-box;
  display: flex;
  background: transparent;
  /* background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw; */
  min-height: 80px;
  
}

.answerContainer {
  width: 433px;
  box-sizing: border-box;
  padding-right: 0px;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  background: transparent;
  /* background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw; */
  min-height: 80px;

}

.flashCardInput:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}


.dragOver {
background-color: #f0f0f0;
}

/* FLASH CARD IMAGE CONTAINER */

.flashCardImage {
max-width: 100%;
max-height: 200px;
object-fit: contain;
}


/* FLASH CARD CREATOR CONTAINER */

.createFlashCardContainer {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  
}



/* BUTTONS FOR FLASH CARDS DISPLAY */

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 12px;
  font-weight: 700;
  color: white;
  border: 3px solid rgba(252, 70, 100, 0.534);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  height: 10px;
  width: 30px;
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Center text vertically */ 
  justify-content: center; /* Center text horizontally */
  
 }
 
 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 70, 100, 0.534);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn:hover::before {
  transform: translateX(0);
 }

 

 /* ADD NEW FLASH CARD BUTTON */

 .addNewFlashCardBtnContainer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28,28,30);
  border-radius: 0.4vw;
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  transition: .4s;
  width: 100%

 }

 .addNewFlashCardBtnContainer:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
 }

 .addCardBtn {
  display: inline-block;
  padding: 0.2rem 0.1rem;
  font-size: 12px;
  font-weight: 700;
  color: white;
  border: none;
  border-bottom: 3px solid #2eb533;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  height: 40px;
  width: 130px;
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Center text vertically */ 
  justify-content: center; /* Center text horizontally */
 }

 /* SAVE BUTTON CONTAINER */

 .saveBtn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: 3px solid #6b71eb;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  height: 40px;
  width: 100px;
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Center text vertically */ 
  justify-content: center; /* Center text horizontally */
  margin-bottom: 10px;
  
 }

 .saveBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6b71eb;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .saveBtn:hover::before {
  transform: translateX(0);
 }

 .saveBtnContainer {
  display: flex;
  justify-content: flex-end;
 }


/* DISPLAY FOLDER PAGE */

.folderListContainer {
max-width: 1014px;
min-height: 100px;
display: flex;
flex-wrap: wrap;


margin: auto;
/* margin-left: 30px;
margin-right: auto; */
align-content: flex-start;
gap: 1rem;
}

.folderList {
list-style: none;
background-color: #2eb533;
padding: 0; /* Remove default padding */
margin: 0; /* Remove default margin */

}

/* From Uiverse.io by Tiagoadag */ 
.card {
width: 190px;
height: 100px;
border-radius: 20px;
transition: all .3s;
position: relative;
overflow: hidden;

}

.card::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: linear-gradient(163deg, #3a43e7 0%, #6b71eb 100%);
/* linear-gradient(to bottom, #1b1c3f, #6b71eb) */
opacity: 0;
transition: opacity .3s;
}

.card2 {
width: 100%;
height: 100%;
background-color: rgb(44, 44, 44);
border-radius: 20px;
transition: all .2s;
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: 1;
overflow-y: auto;
overflow-x: hidden;

}

.card2 a {
word-wrap: break-word;
overflow-wrap: break-word;
hyphens: auto;
width: 100%;
text-align: center;
color: white;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
max-height: 100%;
}

.card:hover::before {
opacity: 1;
}

.card:hover .card2 {
transform: scale(0.98);
border-radius: 20px;
}

.card:hover {
box-shadow: 0px 0px 30px 1px #000446;
cursor: pointer;
}

/* DISPLAY FILES */

.displayFilesPage {
margin-left: 100px;
margin-right: 100px;
}

.displayFilesContainer {
max-width: 1014px;
min-height: 100px;
display: flex;
flex-wrap: wrap;
margin: auto;
align-content: flex-start;
gap: 1rem;
}

/* CREATE FOLDER PAGE */

.CreateFolderContainer {
margin: 0 auto;
padding: 1rem;
border: none;
max-width: 800px; /* Adjust max-width */
}

@media (max-width: 768px) {
.CreateFolderContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.fileNameInput {
  width: 100%; /* Full width on small screens */
  margin-bottom: 0.5rem; /* Space between inputs */
}

.saveBtn {
  width: 100%; /* Full width button */
}
}